/* Card styles */

.hobby_card {
  width: 40ch;
  /* height: 50ch; 3:4 aspect ratio for the card */
  padding: 20px;
}
.hobby_card p {
  text-align: justify;
}

.info {
  max-width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
  display: inline-block;
}

#Hobby_Projects{
  display: flex;
  flex-direction: column;
}