/* Card styles */

.poem_card {
  width: 50ch;
  height: 80ch; /* 3:4 aspect ratio for the card */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}
