body {
    background-color: #F0F0F0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    margin-top: 50px;
  }
  
  .poem {
    font-size: 18px;
    margin-top: 50px;
    text-align: left;
    line-height: 1.5;
  }
  