body {
  background-color: powderblue;
  border: 0.3vw solid black;
  padding: 1.5vw;
  text-align: justify;
}
h1 {
  color: blue;
  text-align: center;
  /* border: 0.1vw solid black; */
}
h2 {
  color: green;
  text-align: left;
  border: 0.1vw solid black;
}
p {
  color: black;
  /* border: 0.1vw solid black; */
}

img {
  left: 0;
  width: 100%;
  border: 0.2vw solid black;
  padding: 0.1vw;
  margin: auto;
}

.grid_container {
  display: grid;
  margin: auto;
}

